<%= stylesheet 'sign_in' %>

<body class='text-center'>
  <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
  <%=
    form_for :session, '/sessions', class: 'form-signin' do
      div do
        label 'Name'
        text_field :name
      end

      div do
        label "Password"
        password_field :password
      end

      submit 'Sign in'
    end
  %>
</body>