<footer class="page-footer font-small bg-<%= sinatra ? 'success' : 'danger' %>" style="position: absolute; width: 100%; bottom: 0px;">
  <div class='text-center' style='width: 100%;'><bold><h1 class='pt-1' style='color: white; font-weight: bold;'>Sinatra</h1></bold></div>
</footer>